<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HurimaApp</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<script src="https://kit.fontawesome.com/0c10c7ef6e.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap" rel="stylesheet">
<%= stylesheet_link_tag "home1", "data-turbo-track": "reload" %>
<%= stylesheet_link_tag "reset", "data-turbo-track": "reload" %>
</head>

<body>
    <section class="header">
        <nav>
        <a class="logo" href="#">
            <img src="<%= asset_path('hurima_logo.png') %>" alt="HurimaApp Logo">
        </a>
        <div class="nav-links">
            <ul class="buttons">
                <li><%= link_to 'ログイン', tweets_path, class: 'button1' %></li>
                <li><%= link_to 'サインイン', new_user_registration_path, class: 'button2' %></li>
            </ul>
        </div>
        </nav>

        <div class="text-box">
            <h1>教科書を通じて、つながろう</h1>
            <h2>出品とチャットで、同じ大学の仲間と教科書をシェアしよう</p>
            <%= link_to 'さっそく出品する', new_user_registration_path, class: 'hero-btn' %>
        </div>
    </section>
</body>
</body>
</html>
